<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>ignition-spark.log</file>
		<append>true</append>
		<encoder>
			<pattern>%4p [%date{HH:mm:ss.SSS}] %c{1}: %m%n</pattern>
		</encoder>
	</appender>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%4p [%date{HH:mm:ss.SSS}] %c{1}: %m%n</pattern>
		</encoder>
	</appender>
	<logger name="org.apache.hadoop" level="ERROR" />
	<logger name="org.eclipse" level="ERROR" />
	<logger name="org.spark-project.jetty" level="ERROR" />
	<logger name="Remoting" level="WARN" />
	<logger name="akka" level="WARN" />
	<logger name="com.datastax" level="ERROR" />
	<logger name="com.datastax.spark.connector.writer" level="INFO" />
	<logger name="org.apache.cassandra" level="ERROR" />
	<logger name="com.datastax.driver.core.ControlConnection" level="OFF" />
	<logger name="org.apache.spark" level="info" additivity="false">
		<appender-ref ref="file" />
	</logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>        